<div class=" modal modalEditExc" id="modalEditExc">
        <form action="" method="POST">
            <h1>Редагувати екскурсію</h1>
            <div>
                <p>Назва</p>
                <input type="text" required placeholder="Назва екскурсії">
            </div>
            <div>
                <p>Фото 360</p>
                <input type="text" required placeholder="Вставте посилання на фото">
            </div>
            <p>Опис</p>
            <textarea name="" id="" cols="30" rows="10" placeholder="Опис"></textarea>
            <div>
                <p>Місце зустрічі</p>
                <input type="text" required placeholder="вул. Наукова 12">
            </div>
            
            <div>
                <p>Пам'ятка 1</p>
                <select name="SightsSelectList" id="">
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                </select>
                <p>Пам'ятка 2</p>
                <select name="SightsSelectList" id="">
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                    <option value="Якась пам'ятка">Якась пам'ятка</option>
                </select>
            </div>
            <div>
                <p>Тривалість</p>
                <input type="text" required placeholder="1.5 години">
            </div>
            <div>
                <p>Відстань</p>
                <input type="text" required placeholder="5 км">
            </div>
            <button>Зберегти зміни</button>
        </form>
    </div>

    <script>
        let chosen_sights = []
        function update_sights(){
            if(document.getElementById('selectedSight').value !=""){
                chosen_sights.push(document.getElementById('selectedSight').value)
                document.getElementById('sights_to_add').innerHTML += document.getElementById('selectedSight').value + "</br>"
                $("option[value='" + document.getElementById('selectedSight').value + "']").remove()
            }


            document.getElementById("addTourSubmt").addEventListener("click", (e)=>{
                e.preventDefault()
                let add = document.forms["addTour"]

                let title = add.elements["title"].value
                let img = add.elements["image"].value
                let desc = add.elements["desc"].value
                let meetPoint = add.elements["meet"].value
                let duration = add.elements["dur"].value
                let distance = add.elements["dist"].value
                let meeting = add.elements["meeting"].value

                    
                let tour = JSON.stringify({title: title, image360: img, description: desc, adress: meetPoint, duration: duration, distance: distance, sights: chosen_sights, meeting: meeting})
                console.log(tour)
                let req = new XMLHttpRequest()

                req.open("POST", "/admin/add/tour",true)
                req.setRequestHeader("Content-Type", "application/json")
                
                req.send(tour)
                document.location.reload(true)
            })
        }
    </script>
    <div class="modal modalEditExc" id="modalAddExc">
        <form name="addTour" method="POST">
            <h1>Додати екскурсію</h1>
            <div>
                <p>Назва</p>
                <input type="text" required placeholder="Назва екскурсії" name="title">
            </div>
            <div>
                <p>Фото 360</p>
                <input type="text" required placeholder="Вставте посилання на фото" name="image">
            </div>
            <div>
                <p>Посилання на місце зустрічі з Google мап</p>
                <input type="text" required placeholder="Вставте посилання на Google мапи" name="meeting">
            </div>                
                <p>Опис</p>
                <textarea id="" cols="30" rows="10" placeholder="Опис" name="desc"></textarea>            
            
            <div>
                <p>Місце зустрічі</p>
                <input type="text" required placeholder="вул. Наукова 12" name="meet">
            </div>
            <div>             
                <p>Пам'ятка</p>
                <select name="SightsSelectList" id="selectedSight">
                    {{#each sights}}
                        <option value="{{title}}">{{title}}</option>
                    {{/each}}
                </select>
                <p id="sights_to_add" style="color: #FFFFFF; font-family: Arial; font-size: 12pt">

                </p>
                <i class="fas fa-plus-circle" onclick="update_sights()"></i>
            </div>
            <div>
                <p>Тривалість (годин)</p>
                <input type="text" required placeholder="1.5" name="dur">
            </div>
            <div>
                <p>Відстань (км)</p>
                <input type="text" required placeholder="5" name="dist">
            </div>
            <button type="submit" id="addTourSubmt">Зберегти зміни</button>
        </form>
    </div>
    <div class=" modal modalEditExc" id="modalEditGuide">
        <form action="" method="POST">
            <h1>Редагувати Гіда</h1>
            <div>
                <p>Ім'я</p>
                <input type="text" required placeholder="Манул">
            </div>
            <div>
                <p>Прізвише</p>
                <input type="text" required placeholder="Манулов">
            </div>
            <p>Опис</p>
            <textarea name="" id="" cols="30" rows="10" placeholder="Опис"></textarea>
            <div>
                <p>Фото</p>
                <input type="file" required placeholder="">
            </div>                       
            <div>
                <p>Телефон</p>
                <input type="tel" required placeholder="0673939639">
            </div>
            <button>Зберегти зміни</button>
        </form>
    </div>
    
    
    <div class=" modal modalEditExc" id="modalEditSched">
        <form action="" method="POST">
            <h1>Редагувати екскурсію</h1>
            <div>                
                <p>Екскурсія:</p>
                <select name="SightsSelectList" id="">
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                </select>
            </div>
            <div>
                <p>Дата</p>
                <input type="text" required placeholder="Дата">
            </div>
            <div>
            <p>Вид</p>
            <select name="SightsSelectList" id="">
                <option value="Якась Екскурсія">Індивідуальна</option>
                <option value="Якась Екскурсія">Маленька</option>
                <option value="Якась Екскурсія">Велика</option>                                
            </select>
            <p>Гід</p>
             <select name="guidesSelectList" id="">
                <option value="Манулов Манул">Манулов Манул</option>
                <option value="Манулов Манул">Манулов Манул</option>
                <option value="Манулов Манул">Манулов Манул</option>
            </select>
        </div>
                <div>
                <p>Час</p>
                <input type="text" required placeholder="Час">
            </div>                       
            <div>
                <p>Ціна</p>
                <input type="text" required placeholder="400 грн">
            </div>
            <button>Зберегти зміни</button>
        </form>
    </div>
    <div class=" modal modalEditExc" id="modalEditSight">
        
        <form name="editSight">
            <h1>Редагувати пам'ятку</h1>
            <div>                
                <p>Назва пам'ятки:</p>
                <input type="text" placeholder="Покровський собор" id="editSightTitle" name="title">
            </div>
            <div>
                <p>Фото (з ім'ям пам'ятки латиницею)</p>
                <input type="file" placeholder="" name="img">
            </div>
            
            <p>Опис</p>
            <textarea id="editSightDesc" cols="30" rows="10" placeholder="Опис" name="desc"></textarea>
            <button onclick="updateSight()">Зберегти зміни</button>
        </form>
        
    </div>
    <div class=" modal modalEditExc" id="modalAddSight">

        <form name="addSight" action="/admin/add/sight" enctype="multipart/form-data" method="POST">
            <h1>Додати пам'ятку</h1>
            <div>                
                <p>Назва пам'ятки:</p>
                <input type="text" placeholder="Покровський собор" required name="title" onclick="delBorder('title')">
            </div>
            <div>
                <p>Фото (з ім'ям пам'ятки латиницею)</p>
                <input type="file" required placeholder="" name="image" onchange="checkPhName()" accept="image/jpeg">
            </div>
                <p id="error" style="margin: 1vw; color: red; opacity: 0; font-style: italic; font-family: Arial, Helvetica, sans-serif;">Error</p>

            <p>Опис</p>
            <textarea id="sightDescription" cols="30" rows="10" placeholder="Опис" name="desc" onclick="delBorder('desc')"></textarea>
            <button type="submit" id="submitSight">Додати</button>
        </form>

    </div>
    <div class=" modal modalEditExc" id="modalAddGuide">

        <form action="/admin/add/guide" method="POST" enctype="multipart/form-data" name="addGuide">
            <h1>Зареєструвати Гіда</h1>
            <div>
                <p>Ім'я</p>
                <input type="text" required placeholder="Манул"name="name">
            </div>
            <div>
                <p>Прізвише</p>
                <input type="text" required placeholder="Манулов" name="surname">
            </div>
            <div>
                <p>Пошта</p>
                <input type="email" required placeholder="mail@email.com" name="email">
            </div>
            <div>
                <p>Пароль</p>
                <input type="password"  required name="password">
            </div>
            <p>Опис</p>
            <textarea name="desc" id="" cols="30" rows="10" placeholder="Опис"></textarea>
            <div>
                <p>Фото</p>
                <input type="file" required placeholder="" name="image" accept="image/png">
            </div>                       
            <div>
                <p>Телефон</p>
                <input type="tel" required placeholder="0673939639" name="phone">
            </div>
            <button type="submit" id="addGuide">Зареєструвати</button>
        </form>

    </div>
<script>
    

    let fileName = ''
    let isCorrect = false
    let elem = document.getElementById("error")

    function delBorder(name) {

        document.forms["addSight"].elements[name].style.border = 'none'
        document.getElementById("error").innerHTML = ''
        elem.style.opacity = '0'
    }

    function checkPhName() {
        let backForm = document.forms["addSight"]
        let inp = backForm.elements["image"]

        let img = inp.files

        let reg = /^([a-zA-Z0-9_]+)$/;
        if(reg.test(img[0].name.substring(0, img[0].name.length-4)) == false){
            elem.style.opacity = '1'
            elem.innerHTML = "Невірна назва файлу. Дозволені символи - латинські літери, цифри, '_'"
            inp.style.border = '1px solid red'
            isCorrect = false
        } 
        else {
            elem.style.opacity = '0'
            elem.innerHTML = "Error"
            inp.style.border = 'none'
            fileName = img[0].name
            isCorrect = true
        }
    }
    
        document.getElementById("submitSight").addEventListener('click', (e)=>{
        e.preventDefault()
        isCorrect = true

        let backForm = document.forms["addSight"]
        let title = backForm.elements["title"]
        let desc = backForm.elements["desc"]

        let inp = backForm.elements["image"]
        let img = inp.files
        if(img.length == 0) {
            inp.style.border = '1px solid red'
            elem.innerHTML = "Додайте файл"
            elem.style.opacity = '1'
            isCorrect = false 
        }


        let fields = [title, desc]
        for (var i = 0; i < fields.length; i++) {
            if (fields[i].value.trim() == '') {
                fields[i].style.border = '1px solid red'
                elem.innerHTML = "Всі поля повинні бути заповнені"
                elem.style.opacity = '1'
                isCorrect = false 
            }
        }

        let response

        if (isCorrect) {

            let data = JSON.stringify({title: title.value, fileName: img[0].name.substring(0, img[0].name.length-4)})
            let req = new XMLHttpRequest()

            req.onload = ()=>{
                
                response = JSON.parse(req.response)
                if(response.title != null)
                {
                    title.style.border = '1px solid red'
                    elem.innerHTML = "Така пам'ятка вже є"
                    elem.style.opacity = '1'
                    isCorrect =false
                } 
                if(response.img!= null){
                    inp.style.border = '1px solid red'
                    elem.innerHTML = "Змініть назву файлу. Файл з таким ім'ям вже існує"
                    elem.style.opacity = '1'
                    isCorrect =false
                }

                if(isCorrect)
                    document.forms["addSight"].submit()
            }

            req.open("POST", "/admin/add/sight/vali",true)
            req.setRequestHeader("Content-Type", "application/json")

            req.send(data)        
        }
        })
    
</script>

<div class=" modal modalEditExc" id="modalAddSched">

        <form action="" method="POST" name="addEventForm">
            <h1>Додати екскурсію</h1>
            <div>                
                <p>Екскурсія:</p>
                <select name="tour_name" id="">
                    {{#each tours}}
                    <option value="{{title}}">{{title}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <p>Дата</p>
                <input type="date" required placeholder="Дата" min="2020-06-01" name="date">
            </div>
            <div>
            <p>Вид</p>
            <select name="event_group" id="">
                {{#each groups}}
                <option value="{{title}}">{{title}}</option>   
                {{/each}}                            
            </select>            
            </div>
            <div>
                 <p>Гід</p>
             <select name="guidesSelectList" id="guide_name">
                 {{#each guides}}
                <option value="{{surname}} {{name}}">{{surname}} {{name}}</option>
                {{/each}}
            </select>
            </div>
            <div>
                <p>Час</p>
                <input type="time" required placeholder="Час" name="time">
            </div>                       
            <div>
                <p>Ціна (грн)</p>
                <input type="text" required placeholder="400" name="price">
            </div>
            <button type="submit" id="addEventBtn">Додати</button>
        </form>

        <script>
            document.getElementById("addEventBtn").addEventListener('click', (e)=>{
            e.preventDefault()
            let add_event_form = document.forms["addEventForm"]
            let _date = add_event_form.elements["date"].value
            let _time = add_event_form.elements["time"].value
            let _group = add_event_form.elements["event_group"].value
            let _price = add_event_form.elements["price"].value
            let _title = add_event_form.elements["tour_name"].value
            let _guide = add_event_form.elements["guide_name"].value

            let event = JSON.stringify({
                title: _title,
                date: _date,
                time: _time,
                group: _group,
                price: _price,
                guide: _guide
            })

            let req = new XMLHttpRequest()
            req.open("POST", "/admin/add/event",true)
            req.setRequestHeader("Content-Type", "application/json")

            req.send(event)
            document.location.reload(true)
        })
        </script>

    </div>
    <div class=" modal modalEditExc" id="modalEditSched">
        <form action="" method="POST">
            <h1>Редагувати екскурсію</h1>
            <div>                
                <p>Екскурсія:</p>
                <select name="SightsSelectList" id="">
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                    <option value="Якась Екскурсія">Якась Екскурсія</option>
                </select>
            </div>
            <div>
                <p>Дата</p>
                <input type="text" required placeholder="Дата">
            </div>
            <div>
            <p>Вид</p>
            <select name="SightsSelectList" id="">
                <option value="Якась Екскурсія">Індивідуальна</option>
                <option value="Якась Екскурсія">Маленька</option>
                <option value="Якась Екскурсія">Велика</option>                                
            </select>
        </div>
                <div>
                <p>Час</p>
                <input type="text" required placeholder="Час">
            </div>                       
            <div>
                <p>Ціна</p>
                <input type="text" required placeholder="400 грн">
            </div>
            <button>Зберегти зміни</button>
        </form>
    </div>