<main>
    <div class="profileBlock">                   
        <div class="profileTabs">
            <a class="activeTab" id="excursionsTab" onclick="ShowExTab()">Екскурсії</a>
            <a id="guidesTab" onclick="ShowGuidesTab()">Гіди</a>                            
            <a id="scheduleTab" onclick="ShowScheduleTab()">Розклад</a>                                                 
            <a id="sightsTab" onclick="ShowSightsTab()">Пам'ятки</a>  
        </div>
        <div class="profileInfoBlock">


            <div class="ExcursionsBlock" id="exBlock">
                {{#each tours}}
                <div class="excursionList">

                    
                    <div class="excursionInList">
                        
                        <img src="./Images/sights/{{image}}.jpg" alt="photo">                        
                        <div class="excDescInList">
                            <h2>{{title}}</h2>
                            <div class="sightsOfEx">
                                {{#each this.sights}}
                                <h4>{{this}}</h4>
                                {{/each}}
                            </div>        
                            <p>{{description}}</p>             
                        </div>
                        
                        <div class="actionsWithExc">
                            <i class="fas fa-pen" onclick="ShowModalEditExc()"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>


                    
                    
                                          
                </div>
                {{/each}}
                <button style="align-self: center; margin-top: 3vw; outline: none;" onclick="ShowModalAddExc()">Додати екскурсію</button>
            </div>  


            <div class="guidesBlock" id="guidesBlock">
            <div class="excursionList">
                    {{#each guides}}
                    <div class="excursionInList" id="{{_id}}">
                        <img src="./Images/guides/{{image}}" alt="photo">
                        <div class="excDescInList">
                            <h2>{{name}} {{surname}}</h2>  
                            <p style="color:#fff">Телефон : {{phone}}</p></br>                                        
                            <p>{{description}}</p>             
                        </div> 
                        <div class="actionsWithExc">
                            <i class="fas fa-pen" onclick="ShowModalEditGuide()"></i>
                            <i class="far fa-trash-alt" onclick="deleteGuide('{{_id}}')"></i>
                        </div>
                    </div>
                    {{/each}}   

                    <button style="align-self: center; margin-top: 3vw; outline: none;" onclick="ShowModalAddGuide()">Додати гіда</button>                                            
                </div>                                
        </div> 


        <div class="schedBlock" id="schedBlock">
            <div class="excursionList">
                
                {{#each events}}
                <div class="excursionInList">
                        <img src="./Images/tours/{{image}}.jpg" alt="">
                        <div class="excDescInList">
                            <h2>{{tour}}</h2>
                            <div class="sightsOfEx">
                            {{#each this.sights}}
                                    <h4>{{this}}</h4>
                             {{/each}}
                            </div>  
                            <p style="color:#fff">Де: {{adress}}</p>      
                            <p style="color:#fff">Коли: {{date}} у {{time}}</p>      
                            <p style="color:#fff">Гід: {{guide}}</p>
                            <p style="color:#fff">Вид: {{groupType}}</p>
                            <p style="color:#fff">Ціна: {{cost}} грн за особу</p></br>
                            <p>{{description}}</p>             
                        </div> 
                        <div class="actionsWithExc">
                            <i class="fas fa-pen" onclick="ShowModalEditSched()"></i>
                            <i class="far fa-trash-alt"></i>
                        </div>
                </div>
                {{/each}}

            <button style="align-self: center; margin-top: 3vw; outline: none;" onclick="ShowModalAddSched()">Додати екскурсію</button>
            </div>
        </div> 

        <script>
            let sight_to_update
            function deleteSight(title){
            let req = new XMLHttpRequest()

            req.open("DELETE", "admin/delete/sight/" + title, true)
            req.setRequestHeader("Content-Type", "application/json")
            
            req.send()
            $("div[id='" + title + "']").remove()
        }

        let guide_to_update
        function deleteGuide(id){
            let req = new XMLHttpRequest()

            req.open("DELETE", "admin/delete/guide/" + id, true)
            req.setRequestHeader("Content-Type", "application/json")
            
            req.send()
            $("div[id='" + id + "']").remove()
        }
        
        function fillDataSight(title){
            ShowModalEditSight()

            $.ajax({
                url: "/admin/data/sight/" + title,
                method: "GET"
            }).then((res)=>{
                sight_to_update = res.title
                let name = res.title
                let desc = res.description
                document.getElementById('editSightTitle').value = name
                document.getElementById('editSightDesc').innerText = desc
            })
        }

        function updateSight(){

            let editForm = document.forms["editSight"]
            let title = editForm.elements["title"].value
            let desc = editForm.elements["desc"].value
            let img = editForm.elements["img"]


            let sight = JSON.stringify({new_title: title, new_desc: desc, image: img})
            let req = new XMLHttpRequest()

            req.open("POST", "/admin/update/sight/" + sight_to_update, true)
            req.setRequestHeader("Content-Type", "application/json")

            req.addEventListener("load", ()=>{
                let updated_sight = JSON.parse(req.response)
                $('#' + sight_to_update).find('h2:first') = updated_sight.title
                $('#' + sight_to_update).find('p:first') = updated_sight.description
            })
            req.send(sight)
        }
        
        </script>
        <div class="siBlock" id="siBlock">
            <div class="excursionList">

                {{#each sights}}
                <div class="excursionInList" id="{{title}}">
                        <img src="../Images/sights/{{image}}.jpg" alt="photo">
                        <div class="excDescInList">
                            <h2>{{title}}</h2></br>
                            <p>{{description}}</p>             
                        </div> 
                        <div class="actionsWithExc">
                            <i class="fas fa-pen" onclick="fillDataSight('{{title}}')"></i>
                            <i class="far fa-trash-alt" onclick="deleteSight('{{title}}')"></i>
                        </div>
                </div>    
                {{/each}}   

            </div>           
            <button style="align-self: center; margin-top: 3vw; outline: none;" onclick="ShowModalAddSight()">Додати Пам'ятку</button>
            </div>     
        </div>                                     
        </div>
    </div>
</main>
